.users_table{
    display: flex;
    justify-content: center;
    /* border:1px solid; */
}
th,td{
    padding:1rem;
    border: 1px solid black;
}
th{
    color:red;
}
td{
    color:blue;
}
.active{
    background-color:rgb(87, 240, 82);
    color: black;
    margin: 0 10rem;
    border-radius: 6px;

}
.blocked{
    background-color: rgb(218, 95, 95);
    color: black;
}